@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    margin-bottom: 15px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3, p, button {
    font-size: 1em;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.section {
    padding: 15px;
}

.hero, .projects, .bio, .contact {
    padding: 20px 20px;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #040907;
    color: #E8E8E8;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Altura total da tela */
}

header {
    background: #040907;
    background-image: url(../img/lines-matrix.png);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer {
    background: #040907;
    text-align: center;
    padding: 10px;
}

.container {
    flex: 1; /* O main ocupa o espaço restante */
    position: relative;
    overflow: hidden; /* Esconde a rolagem */
}

.section {
    height: 100vh; /* Cada seção ocupa 100% da altura da janela */
    display: none; /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    background-color: #040907;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    z-index: 1;
}

.arrow.up {
    bottom: 80px; /* Ajuste a distância do fundo */
    right: 20px; /* Distância do lado direito */
}

.arrow.down {
    bottom: 45px; /* Distância do fundo */
    right: 20px; /* Distância do lado direito */
}

button {
    background-color: #3D5122; /* cor de fundo padrão */
    color: #E8E8E8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #566E2D; /* cor do fundo ao passar o mouse */
    color: #fff;
    transform: scale(1.05s);
}


.section.active {
    /*display: flex;  Exibe apenas a seção ativa */
    /* align-items: center; */
    /* justify-content: space-evenly; */
    /* text-align: center; */
    display: block;
    opacity: 1;
}

section.hero {
    background-image: url(../img/hero-img-test.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

section.hero > .hero-icons {
    display: grid;
    gap: 15px;
    
}

section.hero > .hero-icons a {
    display: inline-block;
    margin: 5px;
    transition: transform 0.3s ease;
}

section.hero > .hero-icons a:hover {
    transform: scale(1.1);
}

section.projects {
    background-image: url(../img/projects-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bio-more {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#bio-more.show {
    display: block;
    opacity: 1;
}

.schedule {
    background-color: #3D5122;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}