@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, rgba(5, 21, 26, 0.18) 0%, #2DB2D7 100%);
    width: 1440px;
    height: 1024px;
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    overflow: hidden;
}

header {
    text-decoration: none;
}

header h1 span {
    color: #2DB2D7;
}

header h1 a {
    text-decoration: none;
}

main {
    margin-top: 30px;        
}

footer {

}